#slideIn {
    position: relative;
    z-index: 1;
}

#sliderBg{
animation: slideIn linear 3s;
}


 @keyframes slideIn{
    0%{
transform: translateX(-100%);
    }

    100%{
transform: translateX(0);
    }
}



